<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>

    <link rel="stylesheet" href="static/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.ztree.all.js"></script>
    <script type="text/javascript" src="static/config.js"></script>
    <script type="text/javascript" src="static/checkBrowser.js"></script>
    <script type="text/javascript" src="static/js/tripledes.js"></script>
    <script type="text/javascript" src="static/js/mode-ecb.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" href="static/font/iconfont.css">

    <link href='static/fullcalendar-3.7.0/fullcalendar.css' rel='stylesheet' />
    <link href='static/fullcalendar-3.7.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='static/fullcalendar-3.7.0/lib/moment.min.js'></script>
    <script src='static/fullcalendar-3.7.0/lib/jquery-ui.min.js'></script>
    <script src='static/fullcalendar-3.7.0/fullcalendar.min.js'></script>
    <script src='static/fullcalendar-3.7.0/locale-all.js'></script>
  </head>
  <body onload="check()">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
