
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-guanbi"></i>
                    <div class="name">关闭</div>
                    <div class="fontclass">.icon-guanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuojiantou"></i>
                    <div class="name">左箭头</div>
                    <div class="fontclass">.icon-zuojiantou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bianji"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-bianji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingweidangqianweizhi"></i>
                    <div class="name">定位当前位置</div>
                    <div class="fontclass">.icon-dingweidangqianweizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuichudenglu"></i>
                    <div class="name">退出登录</div>
                    <div class="fontclass">.icon-tuichudenglu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xialajiantou"></i>
                    <div class="name">下拉箭头</div>
                    <div class="fontclass">.icon-xialajiantou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiugaimima"></i>
                    <div class="name">修改密码</div>
                    <div class="fontclass">.icon-xiugaimima</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youjiantou"></i>
                    <div class="name">右箭头</div>
                    <div class="fontclass">.icon-youjiantou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zaixiancheliang"></i>
                    <div class="name">在线车辆</div>
                    <div class="fontclass">.icon-zaixiancheliang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhankai"></i>
                    <div class="name">展开</div>
                    <div class="fontclass">.icon-zhankai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zanting"></i>
                    <div class="name">暂停</div>
                    <div class="fontclass">.icon-zanting</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tingzhi"></i>
                    <div class="name">停止</div>
                    <div class="fontclass">.icon-tingzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhongzhi1"></i>
                    <div class="name">重置</div>
                    <div class="fontclass">.icon-zhongzhi1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bofang"></i>
                    <div class="name">播放</div>
                    <div class="fontclass">.icon-bofang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouqi"></i>
                    <div class="name">收起</div>
                    <div class="fontclass">.icon-shouqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.icon-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shushouqi"></i>
                    <div class="name">树收起</div>
                    <div class="fontclass">.icon-shushouqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuzhankai"></i>
                    <div class="name">树展开</div>
                    <div class="fontclass">.icon-shuzhankai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shipinjiankong"></i>
                    <div class="name">视频监控</div>
                    <div class="fontclass">.icon-shipinjiankong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tianjia"></i>
                    <div class="name">添加</div>
                    <div class="fontclass">.icon-tianjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tianjiayonghuzu"></i>
                    <div class="name">添加用户组</div>
                    <div class="fontclass">.icon-tianjiayonghuzu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weilan"></i>
                    <div class="name">围栏</div>
                    <div class="fontclass">.icon-weilan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiala"></i>
                    <div class="name">下拉</div>
                    <div class="fontclass">.icon-xiala</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiayiji"></i>
                    <div class="name">下一级</div>
                    <div class="fontclass">.icon-xiayiji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiazai"></i>
                    <div class="name">下载</div>
                    <div class="fontclass">.icon-xiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youjiantoushouqi"></i>
                    <div class="name">右箭头收起</div>
                    <div class="fontclass">.icon-youjiantoushouqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuyin"></i>
                    <div class="name">语音</div>
                    <div class="fontclass">.icon-yuyin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxitongzhi"></i>
                    <div class="name">消息通知</div>
                    <div class="fontclass">.icon-xiaoxitongzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhankai1"></i>
                    <div class="name">展开</div>
                    <div class="fontclass">.icon-zhankai1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bianji1"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-bianji1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chuli"></i>
                    <div class="name">处理</div>
                    <div class="fontclass">.icon-chuli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-danxuanweixuanzhong"></i>
                    <div class="name">单选未选中</div>
                    <div class="fontclass">.icon-danxuanweixuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-danxuanxuanzhong"></i>
                    <div class="name">单选选中</div>
                    <div class="fontclass">.icon-danxuanxuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daochu"></i>
                    <div class="name">导出</div>
                    <div class="fontclass">.icon-daochu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-duoxuanweixuanzhong"></i>
                    <div class="name">多选未选中</div>
                    <div class="fontclass">.icon-duoxuanweixuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-duoxuanxuanzhong"></i>
                    <div class="name">多选选中</div>
                    <div class="fontclass">.icon-duoxuanxuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lakuangchazhao"></i>
                    <div class="name">拉框查找</div>
                    <div class="fontclass">.icon-lakuangchazhao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lishiguiji"></i>
                    <div class="name">历史轨迹</div>
                    <div class="fontclass">.icon-lishiguiji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lishishipin"></i>
                    <div class="name">历史视频</div>
                    <div class="fontclass">.icon-lishishipin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lukuang"></i>
                    <div class="name">路况</div>
                    <div class="fontclass">.icon-lukuang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quxiao"></i>
                    <div class="name">取消</div>
                    <div class="fontclass">.icon-quxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quxiaoxianxing"></i>
                    <div class="name">取消线性</div>
                    <div class="fontclass">.icon-quxiaoxianxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanping"></i>
                    <div class="name">全屏</div>
                    <div class="fontclass">.icon-quanping</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangyiji"></i>
                    <div class="name">上一级</div>
                    <div class="fontclass">.icon-shangyiji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-rili"></i>
                    <div class="name">日历</div>
                    <div class="fontclass">.icon-rili</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-touxiang"></i>
                    <div class="name">头像</div>
                    <div class="fontclass">.icon-touxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiangxixinxi"></i>
                    <div class="name">详细信息</div>
                    <div class="fontclass">.icon-xiangxixinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shenfenzheng"></i>
                    <div class="name">身份证</div>
                    <div class="fontclass">.icon-shenfenzheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiedadianhuabaojing"></i>
                    <div class="name">接打电话报警</div>
                    <div class="fontclass">.icon-jiedadianhuabaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiashiyuanyichangbaojing"></i>
                    <div class="name">驾驶员异常报警</div>
                    <div class="fontclass">.icon-jiashiyuanyichangbaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenshenbaojing"></i>
                    <div class="name">分神报警</div>
                    <div class="fontclass">.icon-fenshenbaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daolubiaoshichaoxianbaojing"></i>
                    <div class="name">道路标识超限报警</div>
                    <div class="fontclass">.icon-daolubiaoshichaoxianbaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pilaojiashibaojing"></i>
                    <div class="name">疲劳驾驶报警</div>
                    <div class="fontclass">.icon-pilaojiashibaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hangrenpengzhuangbaojing"></i>
                    <div class="name">行人碰撞报警</div>
                    <div class="fontclass">.icon-hangrenpengzhuangbaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pinfanbiandaobaojing"></i>
                    <div class="name">频繁变道报警</div>
                    <div class="fontclass">.icon-pinfanbiandaobaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chedaopianlibaojing"></i>
                    <div class="name">车道偏离报警</div>
                    <div class="fontclass">.icon-chedaopianlibaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qianxiangpengzhuangbaojing"></i>
                    <div class="name">前向碰撞报警</div>
                    <div class="fontclass">.icon-qianxiangpengzhuangbaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhangaiwubaojing"></i>
                    <div class="name">障碍物报警</div>
                    <div class="fontclass">.icon-zhangaiwubaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chejuguojinbaojing"></i>
                    <div class="name">车距过近报警</div>
                    <div class="fontclass">.icon-chejuguojinbaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chouyanbaojing"></i>
                    <div class="name">抽烟报警</div>
                    <div class="fontclass">.icon-chouyanbaojing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-suoxiao"></i>
                    <div class="name">缩小</div>
                    <div class="fontclass">.icon-suoxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangda"></i>
                    <div class="name">放大</div>
                    <div class="fontclass">.icon-fangda</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangbao"></i>
                    <div class="name">上报</div>
                    <div class="fontclass">.icon-shangbao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gengduo"></i>
                    <div class="name">更多</div>
                    <div class="fontclass">.icon-gengduo</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
